
header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
  position: absolute;
  z-index: 1;
}



a {
  color: black;
  padding: 20px 10px;
}

a:hover {
  color: mediumaquamarine;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

nav {
  padding-right: 40px;
}

.logo img {
  margin-right: 12px;
}

.content {
  padding-top: 116px;
  display: flex;
  margin: 0px auto 78px auto;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;

}

.column.small {
  width: 240px;
}

.image-headline {
  display: flex;
  height: 300px;
  align-items: center;
  text-align: center;
}

.image-headline span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.storyblock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
}
.substory-one, .substory-two {
  width: 300px;
}
.storyblock > .image-headline {
  background-image: url("../images/img-story-main.png");

}
#main-title {
  text-align: left;
  margin-left: 20px;
}
.storyblock > .image-headline span {
  font-size: 40px;
}
.substory-one .image-headline {
  background-image: url("../images/img-story-2.png")
}
.substory-two .image-headline {
  background-image: url("../images/img-story-3.png")
}
.story .image-headline {
  background-image: url("../images/img-story-1.png")
}
.newsbites {
  display: flex;
  flex-direction: column;
}
.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  border-bottom: 1px solid black;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 325px;
}

footer nav {
  padding-left: 25px;
  display: inline-block;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
}


p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
