* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
  position: absolute;
  z-index: 1;
}

div {
  border: 1px solid black;
}

a {
  color: black;
  padding: 20px 10px;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

nav {
  padding-right: 40px;
}

.logo img {
  margin-right: 12px;
}

.content {
  padding-top: 116px;
  display: flex;
}

.column {
  /*display: flex;*/
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-headline span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
